// Use mixins
@import 'mixins.css.scss';
// Import fonts
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400,700|Fauna+One|Duru+Sans|Montserrat+Alternates|Hammersmith+One|Carme);

// Define variables
$margins: 100px;
$brand: #D00;
$darkbg: rgba(0, 0, 0, 0.25);
$lightbg: rgba(255, 255, 255, 0.25);

/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Fauna One', serif;
font-family: 'Duru Sans', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Carme', sans-serif;
*/

body {
	@include stretch();

	-webkit-font-smoothing: antialiased;
	background: #fff;
	background-image: url('../field.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Carme', sans-serif;
	color: #000;
	overflow: hidden;
}

h1, footer {
	color: #fff;
	font-family: 'Montserrat Alternates', sans-serif;
}

p {
	font-size: 200%;
	line-height: 40px;
	margin-top: 0;
}

a {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 1px #000;
	letter-spacing: 2px;
}

div {
	box-sizing: border-box;
}

header {
	background: $brand;
	position: absolute;
	right: 0;
	padding: 0px 20px;
	text-align: center;
}

article {
	@include centerY();

	color: #000;
	margin-left: 25%;
	margin: 0 auto;
	padding: 25px 50px;
	text-align: center;
	text-shadow: $lightbg;
	width: 50%;
	border-radius: 5px;
}

#content {
	height: 100%;
	overflow: scroll;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	text-transform: capitalize;
	background: $darkbg;
	box-shadow: 0 -1px 0px $lightbg;
	ul {
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			margin: auto 3%;
		}
	}
}